.footer {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    color: #4B5C68;
    background-color: #F6F7F7;
    height: 40px;
    padding: 10px 40px 0 40px;
    box-sizing: border-box;
    text-align: right;
    flex-shrink: 0;
}